body{
	background: #e3e3e3;
	margin:0;
	padding:0;
		font-family: "HelveticaNeue-Light", Helvetica, Arial,
             sans-serif;
}
#container {
    width: 1200px;
}
/*Media Queries*/
@media only screen and (max-width : 1199px),
only screen and (max-device-width : 1199px){
    #container {
        width: 1000px;
    }
}
 
 
@media only screen and (max-width : 999px),
only screen and (max-device-width : 999px){
    #container {
        width: 800px;
    }
}
 
@media only screen and (max-width : 799px),
only screen and (max-device-width : 799px){
    #container {
        width: 600px;
    }
}
 
@media only screen and (max-width : 599px),
only screen and (max-device-width : 599px){
    #container {
        width: 400px;
    }
}
 
@media only screen and (max-width : 399px),
only screen and (max-device-width : 399px){
    #container {
        width: 200px;
    }
}
#container.img{
	max-width:300px;
}

 .col3 {
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
-ms-border-radius: 3px;
-o-border-radius: 3px;
border-radius: 3px;
border-color: rgb(170, 170, 170);
border-style: solid;
border-width: 2px;
background: #fff;
position: relative;
width: 280px;
margin:4px;
text-align:center;
}

.masonImg{
	max-width:280px;

}
.masonImg:hover{
	 cursor: hand; 
	 cursor: pointer; 
	 opacity:0.4;
	 filter:alpha(opacity=40);
}
h1{
	margin-top:2px;
	font-family: "HelveticaNeue-Light", Helvetica, Arial,
             sans-serif;
    font-weight: 100;
}

#head{
	margin:0;
-webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.1),0 1px 0 0 rgba(0,0,0,0.1);
-moz-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.1),0 1px 0 0 rgba(0,0,0,0.1);
box-shadow: 0 2px 2px 0 rgba(0,0,0,0.1),0 1px 0 0 rgba(0,0,0,0.1);
-webkit-transform: translateZ(0);
background: #fff;
height: 44px;
position: fixed;
z-index: 670;
width:100%;
text-align: center;
}
.pandora-img{
	position:absolute;
	display:block;
	bottom:10;
	left:10;
	max-width: 50px;

}
.bottom-box{
	position:absolute;
	bottom:0;
	width:100%;
	background:white;
	min-height:33px;
	padding-top:9px;

}
